.row
  = simple_form_for(@estimate, url: create_project_estimates_path(@project, params[:type], @estimateble)) do |f|
    = f.error_notification

    .form-inputs
      = f.input :value

    .form-inputs
      = f.input :phone, input_html: {value: current_user.phone}
      = f.input :email, input_html: {value: current_user.email}

    .form-actions
      = f.button :submit
