= simple_form_for(@project) do |f|
  = f.error_notification

  -#
  -#%ul.medium-block-grid-3.form-inputs
  -#  %li= f.input :name
  -#  %li= f.input :description
  -#  %li= f.input :status
  -#  %li= f.input :date_to

  .row
    .large-6.columns
      = f.input :name
  .row
    .large-6.columns
      = f.input :photo
  .row
    .large-6.columns
      = f.input :description
  .row
    .large-6.columns
      = f.input :date_to
  .row
    .large-6.columns
      = f.input :place

  %hr

  .row
    .small-2.large-4.columns
      %fieldset
        %legend Фінансові витрати

        =f.simple_fields_for :project_finance_costs do |project_finance_cost|
          = render 'project_finance_cost_fields', :f => project_finance_cost
          .row
            .links
              = link_to_add_association 'Додати', f, :project_finance_costs


    .small-4.large-4.columns
      %fieldset
        %legend Інструменти/обладнання

        =f.simple_fields_for :project_materials do |project_material|
          = render 'project_material_fields', f: project_material
          .row
            .links
              = link_to_add_association 'Додати', f, :project_materials


    .small-6.large-4.columns
      %fieldset
        %legend Роботи та ресурси

        =f.simple_fields_for :project_people_times do |project_people_time|
          = render 'project_people_time_fields', f: project_people_time
          .links
            = link_to_add_association 'Додати', f, :project_people_times

  .form-actions
    = f.button :submit
