%h1 Listing projects
- @projects.each_slice(4) do |slice|
  .row.project-list
    - slice.each do |project|
      .medium-3.large-3.text-center.columns{class: ('end' if project == slice.last)}
        .project
          %img{src: "http://placehold.it/220x220&text=[things]"}/
          %h5
            = link_to project.name, project
          .date= project.date_to
          .status= project.status
          .total-support
            Підтримало
            = project.estimates.count
          %hr
          %h5
            = link_to 'долучитися', project
