%p#notice= notice
%header.row
  .small-12.columns
    -if @project.photo.present?
      =image_tag(@project.photo_url(:cover))
    -else
      = image_tag 'http://placehold.it/1500x400&text=[stuff and img]'

%section.row
  %aside.medium-4.columns
    .author.text-center
      = image_tag @project.user.image if @project.user
      %h4= @project.user.name if @project.user
    .row
      .support
        Підтримало
        %span= @project.estimates.count
    .row.text-center
      %a{ href:"#", class:"button radius" } Допомогти проекту

    .row.estimates
      %h4 Кошторис проекту
      %h5 Фінанси
      %table
        %tbody
          - @project.project_finance_costs.each do |finance_cost|
            %tr
              %td.first= finance_cost.name
              %td
                0 /
                = finance_cost.money
                грн
                = link_to new_project_estimates_path(project_id: @project.id, type:'fc', id: finance_cost.id) do
                  %i.fi-plus



      %h5 Ресурси
      %table
        %tbody
          - @project.project_materials.each do |project_material|
            %tr
              %td.first= project_material.name
              %td
                0 /
                = project_material.quantity
                = project_material.measure
                = link_to new_project_estimates_path(project_id: @project.id, type:'pm', id: project_material.id) do
                  %i.fi-plus
      %h5 Робота
      %table
        %tbody
          - @project.project_people_times.each do |project_people_time|
            %tr
              %td.first= project_people_time.name
              %td
                0 /
                = project_people_time.day
                днів
                = link_to new_project_estimates_path(project_id: @project.id, type:'ppt', id: project_people_time.id) do
                  %i.fi-plus


    .row
      %h4 Ключові слова
      %span.label Regular Label
      %span.label Тег2
      %span.label Тег3
      %span.label Тег4
      %span.label Regular Label
      %span.label Тег2
      %span.label Тег3
      %span.label Тег4


  .medium-8.columns
    %h1= @project.name
    %p= @project.description
    %hr
    %h4 Учасники проекту
    %ul.large-block-grid-5.medium-block-grid-4.small-block-grid-3.users-list
      %li
        .image
          = image_tag 'http://placehold.it/90x90text=[author]'
        .user
          %a{ href: '#'} user name
          %span 4кг гречки
      %li
        .image
          = image_tag 'http://placehold.it/90x90text=[author]'
        .user
          %a{ href: '#'} user name
          %span 4кг гречки
      %li
        .image
          = image_tag 'http://placehold.it/90x90text=[author]'
        .user
          %a{ href: '#'} user name
          %span 4кг гречки
      %li
        .image
          = image_tag 'http://placehold.it/90x90text=[author]'
        .user
          %a{ href: '#'} user name
          %span 4кг гречки
      %li
        .image
          = image_tag 'http://placehold.it/90x90text=[author]'
        .user
          %a{ href: '#'} user name
          %span 4кг гречки

- if policy(@project).update?
  = link_to 'Edit', edit_project_path(@project)
  \|
= link_to 'Back', projects_path
